.section-whole-header{
    transition: all 0.3s ease-in-out;
    .header-content{
        justify-content: space-between;
        .uk-navbar-right{
            margin-left: 0;
        }
    }
    position: fixed;
    top: 0;
    width: 100%;

    .header-content{
        .uk-icon,.uk-navbar-toggle{
            color: white;
        }
    }
    
    .uk-navbar-nav{
        li{
            a{
                text-transform: capitalize;
            }
            .uk-icon{
                svg{
                    transition: 0.3s ease-in-out;
                }
            }
            &:hover{
                .uk-icon{
                    svg{
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    &:hover{
        background-color: white;
        .uk-navbar-nav{
            li{
                a{
                    color: #323232;
                }
            }
        }
        .header-content *{
            color: #323232;
        }
    }

}