.section-whole-header{
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    .header-content{
        max-width: 1208px;
        justify-content: space-between;
        .uk-navbar-right{
            margin-left: 0;
        }
        .uk-icon,.uk-navbar-toggle{
            color: white;
        }
    }
    .uk-navbar-nav{
        li{
            border-bottom: 2px solid transparent;
            a{
                text-transform: capitalize;
            }
            .uk-icon{
                svg{
                    transition: 0.3s ease-in-out;
                }
            }
            &:hover{
                .uk-icon{
                    svg{
                        transform: rotate(90deg);
                    }
                }
            }
            &.hover-border-bottom:hover{
                border-bottom: 2px solid #000;
            }
        }
    }
    .super-menu-dropdown{
        display: flex;
        max-width: 1208px;
        margin: auto;
        .super-menu__shop-list{
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            border-right: 1px solid #e8e8e8;
            .super-menu__shop-item{
                width: 25%;
                display: flex;
                margin-top: 20px;
                
                h3{
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0;
                }
                p{
                    font-size: 16px;
                    margin: 0;
                }
            }
            .super-menu__shop-image{
                width: 86px;
                height: 86px;
                margin-right: 0.5rem;
                background-size: cover;
            } 
            .super-menu__new-shop-list{
                width: 20%;
            }
            
        }
        .super-menu__new-shop-list{
            width: 20%;
        }
    }
    
    &:hover{
        background-color: white;
        .uk-navbar-nav{
            li{
                a{
                    color: #323232;
                }
            }
        }
        .header-content *{
            color: #323232;
        }
    }

}