
$btn-hover-background: #10b5ec;
$btn-hover-border: 1px solid $btn-hover-background;

.index_new_swiper {
  .uk-visible-toggle:not(:hover):not(:focus) {
    .uk-hidden-hover:not(:focus-within) {
      position: absolute !important;
      width: 36px !important;
      height: 36px !important;
      padding: 0 !important;
      margin: 30px !important;
      overflow: hidden !important;
    }
  }

  .uk-position-center-right {
    svg {
      transform: rotate(180deg);
    }
  }

  .uk-background-center-center {
    background-size: cover;
  }

  .uk-position-relative {

    h2,
    h3,
    p {
      color: white;
    }
  }

  // .button-group{
  //   display: inline-block;
  // }

  .uk-button {
    width: max-content;
    margin-top: 32px;
    height: 36px;
    min-width: 198px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    --tw-text-opacity: 1;
    /* color: rgb(0 0 0/var(--tw-text-opacity)); */
    border-radius: 18px;
    border: 1px solid #000;
    font-weight: 400;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    text-transform: capitalize;
    &:hover{
      background: $btn-hover-background;
      border: $btn-hover-border;
    }
  }

  .text_position{
    width: 100%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
  }

  .uk-dotnav{
    *{
      *{
        border: none;
        width: 50px;
        height: 4px;
        background-color: rgba(255,255,255,.5);
        transition: all 0.3s ease-in-out;
        display: block;
        box-sizing: border-box;
        border-radius: 0.5vw;
        text-indent: 100%;
        white-space: nowrap;
        
      }
    }
    .uk-active{
      *{
        width: 70px;
        border-radius: 3px;
        background-color: white;
      }
    }
  }
  .uk-slideshow-items{
    min-height: 800px !important;
    max-height: 800px !important;     
  }

  .slider-content-image{
    width: 350px;
    height: 135px;
    display: inline-block;
    background-size: cover;
  }
  

  
  .position_topLeft{
    top: 7.25vw;
    text-align: left;
  }
  .position_topCenter{
    top: 7.25vw;
    text-align: center;
  }
  .position_topRight{
    top: 7.25vw;
    text-align: right;
  }
  .position_middleLeft{
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
  }
  .position_middleCenter{
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .position_middleRight{
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: right;
  }
  .position_bottomLeft{
    bottom: 6.25vw;
    text-align: left;
  }
  .position_bottomCenter{
    bottom: 6.25vw;
    text-align: center;
  }
  .position_bottomRight{
    bottom: 6.25vw;
    text-align: right;
  }
}