.popularProduct {
  max-width: 1208px;
  margin: auto;
  text-align: center;
}

.popularProduct .popularProduct-list {
  display: flex;
}

.popularProduct .popularProduct-list .popularProduct-item {
  flex: 1;
}
