.section-whole-header {
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
}

.section-whole-header .header-content {
  justify-content: space-between;
}

.section-whole-header .header-content .uk-navbar-right {
  margin-left: 0;
}

.section-whole-header .header-content .uk-icon, .section-whole-header .header-content .uk-navbar-toggle {
  color: white;
}

.section-whole-header .uk-navbar-nav li a {
  text-transform: capitalize;
}

.section-whole-header .uk-navbar-nav li .uk-icon svg {
  transition: 0.3s ease-in-out;
}

.section-whole-header .uk-navbar-nav li:hover .uk-icon svg {
  transform: rotate(90deg);
}

.section-whole-header:hover {
  background-color: white;
}

.section-whole-header:hover .uk-navbar-nav li a {
  color: #323232;
}

.section-whole-header:hover .header-content * {
  color: #323232;
}
