.section-whole-header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.section-whole-header .header-content {
  max-width: 1208px;
  justify-content: space-between;
}

.section-whole-header .header-content .uk-navbar-right {
  margin-left: 0;
}

.section-whole-header .header-content .uk-icon, .section-whole-header .header-content .uk-navbar-toggle {
  color: white;
}

.section-whole-header .uk-navbar-nav li {
  border-bottom: 2px solid transparent;
}

.section-whole-header .uk-navbar-nav li a {
  text-transform: capitalize;
}

.section-whole-header .uk-navbar-nav li .uk-icon svg {
  transition: 0.3s ease-in-out;
}

.section-whole-header .uk-navbar-nav li:hover .uk-icon svg {
  transform: rotate(90deg);
}

.section-whole-header .uk-navbar-nav li.hover-border-bottom:hover {
  border-bottom: 2px solid #000;
}

.section-whole-header .super-menu-dropdown {
  display: flex;
  max-width: 1208px;
  margin: auto;
}

.section-whole-header .super-menu-dropdown .super-menu__shop-list, .section-whole-header .super-menu-dropdown .super-menu__new-shop-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  border-right: 1px solid #e8e8e8;
}

.section-whole-header .super-menu-dropdown .super-menu__shop-list .super-menu__shop-item, .section-whole-header .super-menu-dropdown .super-menu__new-shop-list .super-menu__shop-item {
  width: 25%;
  display: flex;
  margin-top: 20px;
}

.section-whole-header .super-menu-dropdown .super-menu__shop-list .super-menu__shop-item h3, .section-whole-header .super-menu-dropdown .super-menu__new-shop-list .super-menu__shop-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.section-whole-header .super-menu-dropdown .super-menu__shop-list .super-menu__shop-item p, .section-whole-header .super-menu-dropdown .super-menu__new-shop-list .super-menu__shop-item p {
  font-size: 16px;
  margin: 0;
}

.section-whole-header .super-menu-dropdown .super-menu__shop-list .super-menu__shop-image, .section-whole-header .super-menu-dropdown .super-menu__new-shop-list .super-menu__shop-image {
  width: 86px;
  height: 86px;
  margin-right: 0.5rem;
  background-size: cover;
}

.section-whole-header .super-menu-dropdown .super-menu__shop-list .super-menu__new-shop-list, .section-whole-header .super-menu-dropdown .super-menu__new-shop-list .super-menu__new-shop-list {
  width: 20%;
}

.section-whole-header .super-menu-dropdown .super-menu__new-shop-list {
  width: 20%;
}

.section-whole-header:hover {
  background-color: white;
}

.section-whole-header:hover .uk-navbar-nav li a {
  color: #323232;
}

.section-whole-header:hover .header-content * {
  color: #323232;
}
